{% extends "bootstrap_5_layout.html" %}
{% set active_page = "review" %}

{% block content %}

<h1>Review for {{location_id}} </h1>

<br>

<form method="POST" action="/reviewconfirmation" style="display: inline;">
    <input type="hidden" name="location_id" value="{{ location_id }}">
    <h3>
        <small class="text-muted">Taste Rating</small>
    </h3>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="taste_score" id="1" value="1">
        <label class="form-check-label" for="1">1 (gross)</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="taste_score" id="2" value="2">
        <label class="form-check-label" for="2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="taste_score" id="3" value="3" checked>
        <label class="form-check-label" for="3">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="taste_score" id="4" value="4">
        <label class="form-check-label" for="4">4</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="taste_score" id="5" value="5">
        <label class="form-check-label" for="5">5 (delicious)</label>
    </div>
    <h3>
        <small class="text-muted">Health Rating</small>
    </h3>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="health_score" id="1" value="1">
        <label class="form-check-label" for="1">1 (unhealthy)</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="health_score" id="2" value="2">
        <label class="form-check-label" for="2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="health_score" id="3" value="3" checked>
        <label class="form-check-label" for="3">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="health_score" id="4" value="4">
        <label class="form-check-label" for="4">4</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="health_score" id="5" value="5">
        <label class="form-check-label" for="5">5 (very healthy)</label>
    </div>
    <br>
    <h3>
        <small class="text-muted">Service Rating</small>
    </h3>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service_score" id="1" value="1">
        <label class="form-check-label" for="1">1 (poor service)</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service_score" id="2" value="2">
        <label class="form-check-label" for="2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service_score" id="3" value="3" checked>
        <label class="form-check-label" for="3">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service_score" id="4" value="4">
        <label class="form-check-label" for="4">4</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="service_score" id="5" value="5">
        <label class="form-check-label" for="5">5 (amazing service)</label>
    </div>
    <br>
    <h3>
        <small class="text-muted">Portion Size</small>
    </h3>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="portion_score" id="1" value="1">
        <label class="form-check-label" for="1">1 (small portion)</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="portion_score" id="2" value="2">
        <label class="form-check-label" for="2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="portion_score" id="3" value="3" checked>
        <label class="form-check-label" for="3">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="portion_score" id="4" value="4">
        <label class="form-check-label" for="4">4</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="portion_score" id="5" value="5">
        <label class="form-check-label" for="5">5 (large portion)</label>
    </div>
    <br>
    <div style="text-align: center">
        <a href="/" type="button" class="btn btn-secondary">Cancel</a>
        <input type="submit" value = "Submit review" class="btn btn-primary">
    </div>

</form>



{% endblock %}
